NEXT_PUBLIC_API_BASE_URL=https://dev.api.codebegen.com
# possible values are error, warn, info, debug, trace.
# I advice to use debug in local
NEXT_PUBLIC_LOG_LEVEL=debug

NEXT_PUBLIC_DEPLOYMENT_BASE_WS_URL=wss://dev.api.codebegen.com/api/v1/ws/deploy
NEXT_PUBLIC_POSTHOG_KEY=

# production, staging and development are the values
NEXT_PUBLIC_APP_ENV=